{% extends "layout.html" %}

{% block title %}
    Error
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="text-center mt-5">
            <p class="text-dark mb-5 lead">
                <img alt="Sorry!"
                     src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=http://i.imgur.com/A3ZR65I.png"/>
            </p>
            <a href="{{ url_for('index') }}">←
                Back to Dashboard</a></div>
    </div>
{% endblock %}