{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table>
        <tr>
            <th>Transaction Number</th>
            <th>Security Name</th>
            <th>Price</th>
            <th>Number of Shares</th>
            <th>Transaction Date</th>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction[0] }}</td>
                <td>{{ lookup(transaction[2])["name"] }}</td>
                <td>{{ usd(transaction[3]) }}</td>
                <td>{{ transaction[4] }}</td>
                <td>{{ transaction[5] }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <table>
        <tr>
            <th>Option ID</th>
            <th>Writer ID</th>
            <th>Option Price quoted</th>
            <th>Strike Price</th>
            <th>Type</th>
            <th>Number of Shares</th>
        </tr>
        {% for transaction in option_transactions %}
            <tr>
                <td>{{ transaction[0] }}</td>
                <td>{{ transaction[1] }}</td>
                <td>{{ transaction[4] }}</td>
                <td>{{ transaction[5] }}</td>
                <td>{{ transaction[3] }}</td>
                <td>{{ transaction[6] }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}