{% extends "layout.html" %}

{% block title %}
    Buy Stock
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <h3 class="text-dark mb-4">History of transactions</h3>
        <div class="card shadow" style="margin-bottom: 15px;">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">Stocks</p>
            </div>
            <div class="card-body">
                <div class="table-responsive table mt-2" id="dataTable" role="grid"
                     aria-describedby="dataTable_info">
                    <table class="table dataTable my-0" id="dataTable">
                        <thead>
                        <tr>
                            <th>Transaction Number</th>
                            <th>Security Name</th>
                            <th>Current Price</th>
                            <th>No. of Shares</th>
                            <th>Transaction date</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for transaction in transactions %}
                            <tr>
                                <td>{{ transaction[0] }}</td>
                                <td>{{ lookup(transaction[2])["name"] }}</td>
                                <td>{{ usd(transaction[3]) }}</td>
                                <td>{{ transaction[4] }}</td>
                                <td>{{ transaction[5] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td><strong>Transaction Number</strong></td>
                            <td><strong>Security Name</strong></td>
                            <td><strong>Current Price</strong></td>
                            <td><strong>No. of Shares</strong></td>
                            <td><strong>Transaction date</strong></td>
                            <td></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">Options</p>
            </div>
            <div class="card-body">
                <div class="table-responsive table mt-2" id="dataTable" role="grid"
                     aria-describedby="dataTable_info">
                    <table class="table dataTable my-0" id="dataTable">
                        <thead>
                        <tr>
                            <th>Option ID</th>
                            <th>Writer ID</th>
                            <th>Stock Symbol</th>
                            <th>Option Type</th>
                            <th>Option Price</th>
                            <th>Strike Price</th>
                            <th>Units</th>
                            <th>Transaction Date</th>
                            <th>Expiry Date</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for transaction in option_transactions %}
                            <tr>
                                <td>{{ transaction[0] }}</td>
                                <td>{{ transaction[1] }}</td>
                                <td>{{ transaction[3] }}</td>
                                <td>{{ transaction[4] }}</td>
                                <td>{{ transaction[5] }}</td>
                                <td>{{ transaction[6] }}</td>
                                <td>{{ transaction[7] }}</td>
                                <td>{{ transaction[8] }}</td>
                                <td>{{ transaction[10] }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                        <tfoot>
                        <tr>
                            <td><strong>Option ID<br></strong></td>
                            <td><strong>Writer ID<br></strong></td>
                            <td><strong>Stock Symbol<br></strong></td>
                            <td><strong>Option Type<br></strong></td>
                            <td><strong>Option Price<br></strong></td>
                            <td><strong>Strike Price<br></strong></td>
                            <td><strong>Units<br></strong></td>
                            <td><strong>Transaction Date<br></strong></td>
                            <td><strong>Expiry Date</strong></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}