{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1>Welcome, {{ username }}</h1>
    <h1 class="cash">Cash: {{ usd(current_cash) }}</h1>
    <h1 class="cash">Assets: {{ usd(stocks_value) }}</h1>
    <h1 class="cash">Cash: {{ usd(current_cash) }}</h1>
    <table>
        <tr>
            <th>
                Symbol
            </th>
            <th>
                Security Name
            </th>
            <th>
                Shares Available
            </th>
            <th>
                Current Price
            </th>
        </tr>
        {% for stock in available %}
            {% if stock[1] > 0 %}
                <tr>
                    <td>{{ stock[0] }}</td>
                    <td>{{ lookup(stock[0])["name"] }}</td>
                    <td>{{ stock[1] }}</td>
                    <td>{{ usd(lookup(stock[0])["price"]) }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    <h1>Available Options:</h1>
    <table>
        <tr>
            <th>Option ID</th>
            <th>Writer ID</th>
            <th>Stock Symbol</th>
            <th>Option Type</th>
            <th>Option Price</th>
            <th>Strike Price</th>
            <th>Number of Shares</th>
            <th>Transaction Date</th>
        </tr>
        {% for transaction in available_options %}
            <tr>
                <td>{{ transaction[0] }}</td>
                <td>{{ transaction[1] }}</td>
                <td>{{ transaction[3] }}</td>
                <td>{{ transaction[4] }}</td>
                <td>{{ transaction[5] }}</td>
                <td>{{ transaction[6] }}</td>
                <td>{{ transaction[7] }}</td>
                <td>{{ transaction[8] }}</td>
            </tr>
        {% endfor %}
    </table>

    <h1>Written Options Sold:</h1>
    <table>
        <tr>
            <th>Option ID</th>
            <th>Number of Shares</th>
            <th>Option Type</th>
            <th>Strike Price</th>
            <th>Number of Shares</th>
        </tr>
        {% for transaction in written_options %}
            <tr>
                <td>{{ transaction[0] }}</td>
                <td>{{ transaction[4] }}</td>
                <td>{{ transaction[1] }}</td>
                <td>{{ transaction[2] }}</td>
                <td>{{ transaction[3] }}</td>
            </tr>
        {% endfor %}
    </table>

    <h1>Unsold Written Options:</h1>
    <table>
        <tr>
            <th>Option ID</th>
            <th>Number of Shares</th>
            <th>Option Type</th>
            <th>Strike Price</th>
            <th>Number of Shares</th>
        </tr>
        {% for transaction in written_options %}
            <tr>
                <td>{{ transaction[0] }}</td>
                <td>{{ transaction[4] }}</td>
                <td>{{ transaction[1] }}</td>
                <td>{{ transaction[2] }}</td>
                <td>{{ transaction[3] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}