{% extends "layout.html" %}

{% block title %}
    Buy Stock
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <h3 class="text-dark mb-4">Stocks and Options</h3>
        <div class="card shadow" style="margin-bottom: 15px;">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">Current Stocks</p>
            </div>
            <div class="card-body">
                <div class="table-responsive table mt-2" id="dataTable" role="grid"
                     aria-describedby="dataTable_info">
                    <table class="table dataTable my-0" id="dataTable">
                        <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Security Name</th>
                            <th>Holding</th>
                            <th>Price</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for stock in available %}
                            {% if stock[1] > 0 %}
                                <tr>
                                    <td>{{ stock[0] }}</td>
                                    {% set current = lookup(stock[0]) %}
                                    <td>{{ current["name"] }}</td>
                                    <td>{{ stock[1] }}</td>
                                    <td>{{ current["price"] }}</td>
                                    <td>{{ usd(current["price"]*stock[1]) }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td><strong>Symbol</strong></td>
                            <td><strong>Security Name</strong></td>
                            <td><strong>Holding</strong></td>
                            <td><strong>Price</strong></td>
                            <td><strong>Value</strong></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="card shadow" style="margin-bottom: 15px;">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">Available Options</p>
            </div>
            <div class="card-body">
                <div class="table-responsive table mt-2" id="dataTable" role="grid"
                     aria-describedby="dataTable_info">
                    <table class="table dataTable my-0" id="dataTable">
                        <thead>
                        <tr>
                            <th>Option ID</th>
                            <th>Writer ID</th>
                            <th>Stock Symbol</th>
                            <th>Option Type</th>
                            <th>Option Price</th>
                            <th>Strike Price</th>
                            <th>Units</th>
                            <th>Transaction Date</th>
                            <th>Expiry Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for transaction in available_options %}
                            <tr>
                                <td>{{ transaction[0] }}</td>
                                <td>{{ transaction[1] }}</td>
                                <td>{{ transaction[3] }}</td>
                                <td>{{ transaction[4] }}</td>
                                <td>{{ transaction[5] }}</td>
                                <td>{{ transaction[6] }}</td>
                                <td>{{ transaction[7] }}</td>
                                <td>{{ transaction[8] }}</td>
                                <td>{{ transaction[10] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td><strong>Option ID<br></strong></td>
                            <td><strong>Writer ID<br></strong></td>
                            <td><strong>Stock Symbol<br></strong></td>
                            <td><strong>Option Type<br></strong></td>
                            <td><strong>Option Price<br></strong></td>
                            <td><strong>Strike Price<br></strong></td>
                            <td><strong>Units<br></strong></td>
                            <td><strong>Transaction Date<br></strong></td>
                            <td><strong>Expiry Date</strong></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="card shadow" style="margin-bottom: 15px;">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">Written Options Sold</p>
            </div>
            <div class="card-body">
                <div class="table-responsive table mt-2" id="dataTable" role="grid"
                     aria-describedby="dataTable_info">
                    <table class="table dataTable my-0" id="dataTable">
                        <thead>
                        <tr>
                            <th>Option ID</th>
                            <th>Stock Symbol</th>
                            <th>Option Type</th>
                            <th>Strike Price</th>
                            <th>Units<br></th>
                            <th>Expiry Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for transaction in written_options %}
                            <tr>
                                <td>{{ transaction[0] }}</td>
                                <td>{{ transaction[1] }}</td>
                                <td>{{ transaction[2] }}</td>
                                <td>{{ transaction[3] }}</td>
                                <td>{{ transaction[4] }}</td>
                                <td>{{ transaction[5] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td><strong>Option ID<br></strong></td>
                            <td><strong>Stock Symbol<br></strong></td>
                            <td><strong>Option Type<br></strong></td>
                            <td><strong>Strike Price<br></strong></td>
                            <td><strong>Units<br><br></strong></td>
                            <td><strong>Expiry date<br></strong></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">Unsold Written Options</p>
            </div>
            <div class="card-body">
                <div class="table-responsive table mt-2" id="dataTable" role="grid"
                     aria-describedby="dataTable_info">
                    <table class="table dataTable my-0" id="dataTable">
                        <thead>
                        <tr>
                            <th>Option ID</th>
                            <th>Stock Symbol</th>
                            <th>Option Type</th>
                            <th>Strike Price</th>
                            <th>Units<br></th>
                            <th>Expiry Date</th>
                            <th>Available?</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for transaction in unsold_options %}
                            <tr>
                                <td>{{ transaction[0] }}</td>
                                <td>{{ transaction[1] }}</td>
                                <td>{{ transaction[2] }}</td>
                                <td>{{ transaction[3] }}</td>
                                <td>{{ transaction[4] }}</td>
                                <td>{{ transaction[5] }}</td>
                                <td>{{ transaction[6] }}</td>
                            </tr>
                        {% endfor %}
                        <tr></tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td><strong>Option ID<br></strong></td>
                            <td><strong>Stock Symbol<br></strong></td>
                            <td><strong>Option Type<br></strong></td>
                            <td><strong>Strike Price<br></strong></td>
                            <td><strong>Units<br><br></strong></td>
                            <td><strong>Expiry date<br></strong></td>
                            <td><strong>Available?</strong></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}