{% extends "layout.html" %}

{% block title %}
    Buy Stock
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <h3 class="text-dark mb-1">Leaderboard</h3>
    </div>
    <div class="card shadow" style="margin-top: 10px;">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">Ranking</p>
        </div>
        <div class="card-body">
            <div class="table-responsive table mt-2" id="dataTable" role="grid"
                 aria-describedby="dataTable_info">
                <table class="table dataTable my-0" id="dataTable">
                    <thead>
                    <tr>
                        <th>User</th>
                        <th>Cash</th>
                        <th>Assets</th>
                        <th>Net worth</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in leaders %}
                        <tr>
                            <td>{{ user[0] }}</td>
                            <td>{{ usd(user[1]) }}</td>
                            <td>{{ usd(user[2]) }}</td>
                            <td>{{ usd(user[1] + user[2]) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td><strong>User</strong></td>
                        <td><strong>Cash</strong></td>
                        <td><strong>Assets</strong></td>
                        <td><strong>Net worth</strong></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}