{% extends "layout.html" %}

{% block title %}
    Buy Stock
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <h3 class="text-dark mb-1">Your Options</h3>
    </div>
    <div class="card shadow" style="margin-top: 10px;">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">Current Options</p>
        </div>
        <div class="card-body">
            <div class="table-responsive table mt-2" id="dataTable" role="grid"
                 aria-describedby="dataTable_info">
                <table class="table dataTable my-0" id="dataTable">
                    <thead>
                    <tr>
                        <th>Option ID</th>
                        <th>Writer ID</th>
                        <th>Stock Symbol</th>
                        <th>Option Type</th>
                        <th>Option Price</th>
                        <th>Strike Price</th>
                        <th>Units</th>
                        <th>Transaction Date</th>
                        <th>Expiry Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction[0] }}</td>
                            <td>{{ transaction[1] }}</td>
                            <td>{{ transaction[3] }}</td>
                            <td>{{ transaction[4] }}</td>
                            <td>{{ transaction[5] }}</td>
                            <td>{{ transaction[6] }}</td>
                            <td>{{ transaction[7] }}</td>
                            <td>{{ transaction[8] }}</td>
                            <td>{{ transaction[10] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td><strong>Symbol</strong></td>
                        <td><strong>Writer ID</strong></td>
                        <td><strong>Stock Symbol</strong></td>
                        <td><strong>Option Type</strong><br></td>
                        <td><strong>Option Price</strong><br></td>
                        <td><strong>Strike Price</strong></td>
                        <td><strong>No. of Shares</strong></td>
                        <td><strong>Transaction Date</strong></td>
                        <td><strong>Expiry Date</strong></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="p-5">
        <h4 class="text-center text-dark mb-4">Sell Option</h4>
        <div class="text-center"></div>
        <form class="user" action="{{ url_for('option_sell') }}" method="post">
            <div class="form-group row">
                <div class="col-sm-6 col-xl-12 mb-3 mb-sm-0"><input
                        class="form-control form-control-user"
                        type="text" id="option_id"
                        placeholder="Option ID" name="option_id"
                        onkeyup="myScript()">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 col-xl-12 mb-3 mb-sm-0"><input
                        class="form-control form-control-user"
                        type="text" id="stock_symbol"
                        placeholder="Stock Symbol"
                        name="stock_symbol"></div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 col-xl-12 mb-3 mb-sm-0"><input
                        class="form-control form-control-user"
                        type="text" id="option_type"
                        placeholder="PUT/CALL" name="option_type">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 col-xl-12 mb-3 mb-sm-0"><input
                        class="form-control form-control-user"
                        type="text" id="option_price"
                        placeholder="Option Price"
                        name="option_price"></div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 col-xl-12 mb-3 mb-sm-0"><input
                        class="form-control form-control-user"
                        type="text" id="strike_price"
                        placeholder="Strike Price"
                        name="strike_price"></div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 col-xl-12 mb-3 mb-sm-0"><input
                        class="form-control form-control-user"
                        type="text" id="num_of_shares"
                        placeholder="Quantity of Shares"
                        name="num_of_shares"></div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 col-xl-12 mb-3 mb-sm-0"><input
                        class="form-control form-control-user"
                        type="text" id="days_to_expiry"
                        placeholder="Days to Expiry"
                        name="days_to_expiry"></div>
            </div>
            <button class="btn btn-primary btn-block text-white btn-user" type="submit">Sell</button>
            <hr>
        </form>
    </div>
    <script>
        function myScript() {
            if ($('#option_id').val().trim().length !== 0) {
                $('#strike_price').hide();
                $('#option_type').hide();
                $('#num_of_shares').hide();
                $('#days_to_expiry').hide();
                $('#stock_symbol').hide();
            } else {
                $('#strike_price').show();
                $('#option_type').show();
                $('#num_of_shares').show();
                $('#days_to_expiry').show();
                $('#stock_symbol').show();
            }
        }
    </script>
{% endblock %}