{% extends "layout.html" %}

{% block title %}
    Buy Stock
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <h3 class="text-dark mb-1">Buy Options</h3>
    </div>
    <div class="card shadow" style="margin-top: 10px;">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">Current Options</p>
        </div>
        <div class="card-body">
            <div class="table-responsive table mt-2" id="dataTable" role="grid"
                 aria-describedby="dataTable_info">
                <table class="table dataTable my-0" id="dataTable">
                    <thead>
                    <tr>
                        <th>Option ID</th>
                        <th>Writer ID</th>
                        <th>Holder ID</th>
                        <th>Stock Symbol</th>
                        <th>Option Type</th>
                        <th>Option Price Quoted</th>
                        <th>Strike Price</th>
                        <th>Units</th>
                        <th>Expiry Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for option_transaction in transactions %}
                        <tr>
                            <td>{{ option_transaction[0] }}</td>
                            <td>{{ option_transaction[1] }}</td>
                            <td>{{ option_transaction[2] }}</td>
                            <td>{{ option_transaction[3] }}</td>
                            <td>{{ option_transaction[4] }}</td>
                            <td>{{ option_transaction[5] }}</td>
                            <td>{{ option_transaction[6] }}</td>
                            <td>{{ option_transaction[7] }}</td>
                            <td>{{ option_transaction[10] }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                    <tfoot>
                    <tr>
                        <td><strong>Symbol</strong></td>
                        <td><strong>Writer ID</strong></td>
                        <td><strong>Holder ID</strong></td>
                        <td><strong>Stock Symbol</strong></td>
                        <td><strong>Option Type</strong><br></td>
                        <td><strong>Option Price Quoted</strong></td>
                        <td><strong>Strike Price</strong></td>
                        <td><strong>Units</strong></td>
                        <td><strong>Expiry Date</strong></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="p-5">
        <h4 class="text-center text-dark mb-4">Buy Option</h4>
        <div class="text-center"></div>
        <form class="user" action="{{ url_for('option_buy') }}" method="post">
            <div class="form-group row">
                <div class="col-sm-6 col-xl-12 mb-3 mb-sm-0">
                    <input class="form-control form-control-user"
                           type="text"
                           placeholder="Option ID" name="option_id">

                </div>
            </div>
            <button class="btn btn-primary btn-block text-white btn-user" type="submit">Buy</button>
            <hr>
        </form>
    </div>
{% endblock %}